doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.7.0.js", integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=", crossorigin="anonymous")
    script(type="text/javascript", src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1paudmssdt")
    script(src="javascripts/map.js") 
  body
    block content
