doctype html
html
  head
    title 저상버스 길찾기 서비스

    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap", rel="stylesheet")

    script(src="https://code.jquery.com/jquery-3.7.0.js", integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=", crossorigin="anonymous")
    script(type="text/javascript", src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1paudmssdt")
    script(type="text/javascript", src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aefbd9b5dedb1503e1633d3e252711ae&libraries=services,clusterer,drawing")
    script(src="javascripts/map.js")
    //- script(src="javascripts/ui.js")
  body
    block content
